google-api-python-client==2.155.0
google-auth==2.36.0
google-auth-httplib2==0.2.0
httplib2==0.22.0

yt-dlp

faster-whisper==1.1.1

llama-cpp-python==0.3.7

PyYAML==6.0.2
reportlab==4.2.5

boto3==1.35.99